* {
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

/**
 * Basic elements
 */
h1, h2, h3, h4 {
	font-weight:normal;
	color:#6e6e6e;
	background:#e7e7e7;
	line-height:50px;
	padding:0 0 0 15px;
	margin-bottom:0;
}

/**
 * Add button for containers/files
 */
.add {
	float:right;
	font-size:35px;
	font-weight:bold;
	line-height:40px;
	height:50px;
	width:50px;
	text-align:center;
	background:#e7e7e7;
}
.add:hover {
	background:#7e7e7e;
	color:#e7e7e7;
	cursor:pointer;
}

.add:before {
	content: '+';
}

/**
 * Grid system 
 * col-13 = 1/3 column
 * col-23 = 2/3 column
 */
.grid {
	position:absolute;
	margin:25px;
}

.grid .row {
	position:relative;
	clear:both;
}

.grid .col-13 {
	display:block;
	position:relative;
	width: 32%;
	margin-right:1%;
	float:left;
}

.grid .col-23 {
	display:block;
	position:relative;
	width: 66%;
	margin-left:1%;
	float:left;
}

.grid .wid-13 {
	width:30%;
}

.no-left-margin {
	margin-left:0 !important;
}

.no-right-margin {
	margin-right:0 !important;
}


/**
 * Containers and Files
 */
.containers, .files {
	list-style:none;
	padding:0;
	margin:0;
}

.containers li, .files li {
	width:100%;
}

.containers li>a, .files li a {
	position:relative;
	display:block;
	height:50px;
	line-height:50px;
	padding:0 0 0 15px;
	z-index:1000;
}

.containers li>a:hover, .containers>li a.selected, .containers>li a:active, .containers li>a.active,
.files li a:hover, .files li a.selected, .files li a:active, .files li a.active {
	background:#b3d4fc;
	color:#fff;
}
.containers li a button.containeraction {
	position:relative;
	z-index:1001;
	width:50px;
	height:50px;
	float:right;
	border:none;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAyCAYAAAAus5mQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAOlJREFUaEPtmDEKAkEQBNdEUzMTQwPFNwh+xsjE1Beob/MDgubmfkC74YRlWT32Zs416IJKmtmZhos0CCGEEH/HFh5a5Ew1zvDZImeqUbXgAK7g+osXmCsVy5nc27e8wVvFDOED5o56yhu8VYwKNqqg1c4FyehHmhnDmbPc6cYO5j6PRe50QwWtpAVv8JpklNmnnG/irNeCSzhPMrpoTHPO8k2cqaAKlqCCVlTQigpaSQueIH+Uxxk9NqY5Z/kmznot6KFrwQ3MHbHInW5M4B3mDnWRu7jTlSncw/iPoS5yB3cJIYQQroTwAgAk9AIHXuRMAAAAAElFTkSuQmCC);
}
a.containeraction:hover {
	background:#7e7e7e;
}

.files li a span.filename {
	float:left;
	display:block;
	width:25%;
}

.files li a span.filesize {
	display:block;
	width:25%;
	text-align:right;
	float:right;
	padding: 0 15px;
}
.files li a span.fileaction {
	text-align:right;
	float:right;
	display:block;
	height:50px;
	width:44%;
}

.header {
	padding-top:0;
	margin-top:0;
}

/**
 * Loading Screen
 */
.loading {
	text-align:center;
	line-height:90px;
}

/**
 * Screen Overlay
 */
.overlay {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background:#000;
	z-index:10001;
	-moz-opacity:0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	overflow-y:hidden !important;
}
	.overlay-wrapper {
		position:absolute;
		top:50%;
		left:0%;
		width:100%;
		height:100px;
		margin-top:-50px;
		background:#fff;
		z-index:10002;
		overflow:auto;
	}

	.overlay-wrapper .overlay-content {
		width:960px;
		margin:0 auto;
	}
